* {
    box-sizing: border-box;
}

main {
    /*display: flex;*/
    /*flex-direction: column;*/
    font-family: sans-serif;
    margin: 15px 15px 15px 15px;
    /*justify-content: center;*/
    max-width: 700px;


}

.nav-links {
    display: flex;
    flex-direction: column;
    /*padding: 1em;*/
    /*margin: .5em .5em;*/
    width: 100%;
    padding: 0;
}

li {
    list-style-type: none;
    margin: .5em 0;
}

li a {
    display: inline-block;
    background: #c4c4c4;
    /*padding: 1em;*/
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/
    padding: 1.5em 0;
    width: 100%;
    text-align: center;
    color: blue;
    font-weight: bold;
}

.alert-info {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: rgb(187, 234, 234);
    padding: 1em 0;
    /*margin: .5em .5em;*/
    border: solid lightgrey;
}

h1 {
    font-size: 47px;
    text-align: center;
    position: relative;
    top: 5px;
    margin: 0 0 40px 0;


}

.skip {
    text-decoration: none;
    color: black
}

.header-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

section {
    font-size: 19px;
}

h2 {
    font-weight: bold;
    margin-bottom: 0;
}
.sub-section {
    font-style: italic;
}

.sub-section>h2 {
    font-size: 24px;
    margin-top: 70px;
}

p {
    margin-top: 12px;
}

footer {
    margin-top: 150px;
}
/*#main>p {*/
/*    margin-top: 0;*/
/*}*/

/*.sub-section p {*/
/*    margin-top: 0;*/
/*}*/

@media screen and (min-width: 992px) {
   main {
       display: flex;
       /*flex-direction: column;*/
       font-family: sans-serif;
       /*justify-content: center;*/
       max-width: 990px;
       flex-wrap: wrap;
   }
    h1 {
        font-size: 47px;
        /*text-align: center;*/
        /*position: relative;*/
        align-items: flex-start;
        top: 5px;
        margin: 0 0 40px 0;
    }
    .nav-links {
        background-color: white;
        display:flex;
        flex-direction: row;
        /*padding: 1em;*/
        /*margin: .5em .5em;*/
        /*align-items: flex-end;*/
        width: 285%;
        justify-content: flex-end;

        /*flex-wrap: wrap;*/
        /*align-self: flex-end;*/
        align-items: flex-end;
        height: 3.5em;


    }
    .hidden-on-desktop {
        display: none
    }

    li a {
        background: white;
        list-style-type: none;
        margin: .5em 0;
        padding: 10px;
        font-weight: normal;
    }
    .header-img {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        border: solid;
    }

    section {
        flex-direction: row;
        /*flex-wrap: wrap;*/
        font-size: 19px;
        display: flex;

    }

}