* {
    box-sizing: border-box;
}

main {
    /*display: flex;*/
    /*flex-direction: column;*/
    font-family: sans-serif;
    margin: auto;
    /*justify-content: center;*/
    max-width: 700px;


}

.nav-links {
    display: flex;
    flex-direction: column;
    /*padding: 1em;*/
    /*margin: .5em .5em;*/
    width: 100%;
    padding: 0;
}

li {
    list-style-type: none;
    margin: .5em 0;
}

li a {
    display: inline-block;
    background: grey;
    /*padding: 1em;*/
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/
    padding: 1em 0;
    width: 100%;
    text-align: center;
}

.alert-info {
    display: inline-block;
    text-align: center;
    width: 100%;
    background: rgb(187, 234, 234);
    padding: 1em 0;
    /*margin: .5em .5em;*/
    border: solid lightgrey;
}

h1 {
    font-size: 55px;
    text-align: center;
}

.skip {
    text-decoration: none;
    color: black
}

.header-img {
    margin: auto;

}

@media screen and (min-width: 992px) {

}